@import '../../../styles/abstracts/variables';

.form {
    padding: 2rem;
    max-width: 320px;
    border: .1rem solid $grey-1;
    border-radius: .3rem;
    // margin: 0 auto; 

    &__row {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        label {
            margin-bottom: .2rem;
        }
    }
    
    h2 {
        margin-bottom: 2rem;
    }

    label {
        display: flex;
        align-items: center;

        input {
            margin-right: 1rem;
        }
    }

    button {
        padding: .2rem 1rem;
        margin-top: 2rem;        
    }

    .hobbies {
        button {
            margin-bottom: 2rem;
        }
    }
}



input.ng-invalid.ng-touched {
    border: 1px solid $primary-color-danger;
}


.error-message {
    color: $primary-color-danger;
    font-size: 1.2rem;
    padding-top: .5rem;
}