<main class="tutorial">
  <h2 class="tutorial__heading--secondary">Czym jest Angular?</h2>
  <p>Angular jest to <strong>Framework JavaScript</strong>, który pozwala tworzyć dynamiczne <strong>Single-Page-Applications</strong> (SPAs)</p>

  <p>Czym jest <strong>SPA</strong>? Tego dowiesz się więcej 
    <a href="https://medium.com/@NeotericEU/single-page-application-vs-multiple-page-application-2591588efe58" target="_blank">tutaj</a>
    &
    <a href="https://blog.angular-university.io/why-a-single-page-application-what-are-the-benefits-what-is-a-spa/" target="_blank">tutaj</a>
  </p>

  <h4>W skrócie</h4>
  <p>
    Główną różnicą pomiędzy modelem Single Page Application, a standardowymi aplikacjami jest 
    jednostronicowy interfejs oraz przeniesienie logiki z serwera na klienta. Cała logika aplikacji jest 
    napisana po stronie klienta w JavaScript i wykonywana w przeglądarce. Kod HTML, JavaScript i CSS jest pobierany 
    jednorazowo w trakcie uruchomienia aplikacji, natomiast pozostałe wymagane zasoby zostaną pobrane dynamicznie, 
    gdy będą potrzebne w danej chwili. Przykładem jednej z wielu aplikacji SPA jest Gmail.
  </p>
  <!-- <img src="https://miro.medium.com/max/551/1*9EBHIOzhE1XfMYoKz1JcsQ.gif" alt="spinner"> -->

  <p>Czym jest Framework? Wróć do <a href="https://slides.frontend.pl.sdacademy.pro/slides/frameworki-js/01-frameworki-js.html#/" target="blank">prezentacji</a> i zapoznaj się z materiałem.</p>


  <h2 class="tutorial__heading--secondary">Wersje Angulara</h2>
  <div class="tutorial__section">
    <div class="tutorial__box">
        <a href="https://angularjs.org/" target="blank">Angular 1 / AngularJS</a>
        <span> - wydany w 2009</span>
      </div>  
      
      <h3 class="tutorial__break">Zaorano go i napisano od zera nową wersję. Mimo wszystko wiele projektów jest
        wciąż utrzymywane w tym frameworku. Można też się jego nauczyć i pisać w nim aplikacje
        <a href="https://angularjs.org/">angularjs.org</a>
      </h3>
      
      <div class="tutorial__box">
        <a href="https://angular.io/" target="_blank">Angular 2</a>
        <span> - wydany w wrześniu 2016</span>
      </div>      
      
      <div class="tutorial__box">
        <a href="https://angular.io/" target="_blank">Angular 4</a>
        <span> - wydany w marcu 2017</span>
      </div>      
      
      <div class="tutorial__box">
        <a href="https://angular.io/" target="_blank">Angular 5</a>
        <span> - wydany w listopadzie 2017</span>
      </div>      
      
      <div class="tutorial__box">
        <a href="https://angular.io/" target="_blank">Angular 6</a>
        <span> - wydany w maju 2018</span>
      </div>
      
      <div class="tutorial__box">
        <a href="https://angular.io/" target="_blank">Angular 7</a>
        <span> - wydany w październik 2018</span>
      </div>      
            
      <div class="tutorial__box">
        <a href="https://angular.io/" target="_blank">Angular 8</a>
        <span> - wydany w maju 2019</span>
      </div>
      
      <div class="tutorial__box">
        <a href="https://angular.io/" target="_blank">Angular 9</a>
        <span> - wydany w lutym 2020</span>
      </div>     
      
      <div class="tutorial__box">
        <a href="https://angular.io/">Angular 10</a>
        <span> - wydany w czerwcu 2020</span>
      </div>

      <p>O różnicach możesz dowiedzieć się <a href="https://en.wikipedia.org/wiki/Angular_(web_framework)#Version_2" target="_blank">tutaj</a></p>
  </div>

  <a class="tutorial__link" href="https://github.com/angular/angular-cli/wiki" target="_blank">Angular CLI wiki</a>
  <br/>
  <a class="tutorial__link" href="https://cli.angular.io/" target="_blank">Oficjalna strona Angular CLI</a>
  <br/>
  <span> (Angular Comand Line Interface)</span>
  <br/>
  <br/>
  <p>Zanim jednak przystąpimy do budowania naszej pierwszej aplikacji w Angularze, potrzebujemy dodatkowe narzędzie, a jest nim <a href="https://nodejs.org/en/" target="blank">Node.js</a></p>
  <p>Jest to wieloplatformowe środowisko uruchomieniowe do tworzenia aplikacji typu server-side napisanych w języku Javascript.</p>
  <p>Podczas instalacji Node.js zainstaluje się nam również <a href="https://www.npmjs.com/">npm</a>, czyli Node package manager dzięki, któremu będziesz mógł
    drogi użytkowniku doinstalowywać paczki do Twojego projektu z poziomu terminala.</p>
  <p>A dokładniej to wersja każdej z paczek zapisana będzie w pliku <code>package.json</code></p>
  <p>Jeżeli chciałbyś/chciałabyś więcej dowiedzieć się o <strong>npm</strong> to więcej znajdziesz <a href="https://devszczepaniak.pl/podstawy-pracy-z-npm/" target="blank">tutaj</a>.</p>

  <h4>Sprawdź swoją wersję Node.js oraz npm</h4>
  <code>node -v</code>
  <br/>
  <code>npm -v</code>

  <p>Jeżeli pokazała Ci się wersja w obydwu przypadkach to znaczy, że masz dobrze skonfigurowane środowisko, 
    a jeżeli nie, to skopiuj błąd z konsoli oraz wklej go <a href="https://google.com" target="_blank">tutaj</a> 
    i poszukaj rozwiązania :)</p>

  <p>Gdy wszystko działa poprawnie, możesz przystąpić do instalacji Twojej pierwszej aplikacji Angularowej.</p>
  <p>Otwórz terminal i zacznij wpisywać: </p>

  <code>npm install -g @angular/cli</code>
  <br/>
  <code>ng new my-dream-app</code><span> Gdzie <em><strong>my-dream-app</strong></em> to jest Twoja własna nazwa aplikacji</span>
  <br/>
  <code>cd my-dream-app</code>
  <br/>
  <code>ng serve</code>
  <br/>
  <h4>Jeżeli chciałbyś/chciałabyś odpalić apkę na innym porcie niż defaultowy, czyli <strong>4200</strong> wpisz w wierszu poleceń: </h4>
  <code>ng serve --port 4201</code>
  <br/>
  <h4>Aby zakończyć działanie serwera należy użyć terminala oraz kombinacji klawiszy: </h4>
  <code>CTRL + C</code>
  <br/>
  <hr class="tutorial__line"/>
  <h4>Po poprawnym stworzeniu projektu, Twoja struktura folderów powinna wyglądać tak:</h4>
  <img src="../assets/images/angular-structure.PNG" alt="folder structure"/>

  <p>Wróć teraz do <a href="https://slides.frontend.pl.sdacademy.pro/slides/frameworki-js/03-angular-podstawy.html#/" target="_blank">prezentacji</a></p>

  <h4>To co Ci się jeszcze przyda</h4>
  <a href="https://angular.io/guide/template-syntax" target="_blank">Template syntax</a>
  <h4>MVC</h4>
  <h4>Model</h4>
  <p>Jest pewną reprezentacją problemu bądź logiki aplikacji.</p>
  <h4>View</h4>
  <p>Opisuje, jak wyświetlić pewną część modelu w ramach interfejsu użytkownika. Może składać się z podwidoków odpowiedzialnych za mniejsze części interfejsu.</p>
  <h4>Controller</h4>
  <p>Przyjmuje dane wejściowe od użytkownika i reaguje na jego poczynania, zarządzając aktualizacje modelu oraz odświeżenie widoków.</p>
</main>