@import "../../../styles/abstracts/variables";

.tutorial {
    &__heading {
        &--primary, &--secondary {
            // text-align: center;
            margin-bottom: 2rem;
        } 
    }

    &__line {
        border: none;
        border-top: .1rem solid $primary-color-dark;
        margin-bottom: 2rem;
    }

    &__section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__box {
        flex: 1;
        padding: 2rem;
        background-color: $primary-color-accent;

        margin-bottom: 2rem;
        
        a, span {
            color: $primary-color-white;
        }
    }

    &__break {
        margin: 3rem 0;
    }

    &__label {
        display: b;
    }
}