<p>lifecycle-hooks works!</p>
<h2>Cykle życia</h2>
<hr class="tutorial__line"/>
<br/>
<p>Każdy komponent ma swój cykl życia, który składa się z kilku różnych etapów, przez które przechodzi. Każdy etap nazywany jest punktem zaczepienia (ang. lifecycle hook). Różnią się one czasem i powodem, dla którego są wykonywane. Co istotne, punkty zaczepienia wykonują się w odpowiedniej kolejności. Kod konstruktora klasy komponentu wykonuje się przed wywołaniem jakiejkolwiek metody cyklu życia komponentu.</p>
<p>Istnieje 8 różnych punktów zaczepienia, ale tutaj zostaną przedstawione tylko te, które są związane wyłącznie z samym komponentem.</p>
<br/>

<p>Obszerne wyjaśnienie odnośnie Lifecycle Hooks znajdziesz w 
    <a href="https://angular.io/guide/lifecycle-hooks" target="_blank">dokumentacji</a>
</p>


<h4>ngOnChanges</h4>
<p>Wykonuje się za każdym razem, gdy wartość wejściowa komponentu została zmieniona. Hook ten posiada mapę danych, która zawiera aktualną i poprzednią wartość zmienionej wartości.</p>
<br/>
<h4>ngOnInit</h4>
<p>Wykonuje się po tym, gdy komponent zostanie zainicjowany. Punkt ten jest w zasadzie wywoływany tylko po ngOnChanges() i wykorzystywany głównie do inicjalizacji danych w komponencie.</p>
<br/>
<h4>ngDoCheck</h4>
<p>Punkt ten jest wyzwalany za każdym razem, gdy sprawdzane są właściwości wejściowe komponentu. Metoda ta pozwala zaimplementować własną logikę wykrywania zmian i sprawdzania poprawności danych.</p>
<br/>
<h4>ngOnDestroy</h4>
<p>Metoda ta zostaje wykonana tuż przed zniszczeniem komponentu. Punkt ten jest bardzo przydatny do odsubskrybowania się z obserwowanych obiektów, aby uniknąć wycieków pamięci.</p>
<br/>
<hr class="tutorial__line"/>
<img src="https://23o0161033pm1289qo1hzrwi-wpengine.netdna-ssl.com/wp-content/uploads/2018/11/Angular-Components.png" alt="lifecycle-hooks"/>