@import "../abstracts/variables";

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 5.2rem;
    font-weight: 800;
}

h2 {
    font-size: 3.2rem;
    font-weight: 700;
}

h4 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

span, label, button {
    font-size: 1.4rem;
}

strong {
    color: $primary-color-accent;
}

a {
    font-size: 1.4rem;
    color: $secondary-color-accent;
    font-weight: 700;
}

code {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
    padding: 1.2rem;
    background-color: rgba($primary-color-dark , .1);
}